.cur:hover {
  cursor: pointer;
}

.cur-a{
  cursor: auto !important;
}

.hover-underline {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.hover-line {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.no-underline{
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.pr {
  position: relative  !important;
}

.pa{
  position: absolute !important;
}

.ps{
  position: static !important;
}

.db{
  @extend %display-block;
}

.dib{
  @extend %display-inline-block;
}

.dt {
  @extend %display-table;
}

.dt-cell {
  @extend %display-table-cell;
}

.dn{
  @extend %display-none;
}

.mb0{
  margin-bottom: 0 !important;
}

.mb26{
  margin-bottom: 26px;
}

.mt0{
  margin-top: 0 !important;
}

.mr0{
  margin-right: 0 !important;
}

.m0{
  margin: 0 !important;
}

.ml0{
  margin-left: 0 !important;
}

.pb0{
  padding-bottom: 0 !important;
}

.pl0{
  padding-left: 0 !important;
}

.pt0{
  padding-top: 0 !important;
}

.pr0{
  padding-right: 0 !important;
}

.p0{
  padding: 0 !important;
}

.lsn li{
  list-style: none;
}

.margin-center{
  @extend %margin-center;
}

.table-center{
  @extend %table-center;
}

.block-center{
  @extend %block-center;
}

.absolute-center {
  @extend %absolute-center;
}

.overflow-elipsis{
  @extend %overflow;
  @extend %ellipsis;
  @extend %display-block;
}

.transform-middle{
  @extend %transform-middle;
}

.text-white{
  color: white(1);
}

.text-bold{
  font-family: $font-bold;
}

.text-orange{
  color: $orange;
}
