doctype html
html(lang="ru")
  head
    block title
      title M-kon

    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    meta(property="og:image", content="img/demo.jpg")
    meta(property="og:title", content="Demo jade example")
    meta(property="og:description" content="Demo jade example")

    meta(name="keywords", content="")
    meta(name="author", content="")
    meta(name="description", content="")

    meta(itemprop="name", content="")
    meta(itemprop="description", content="")
    meta(itemprop="image", content="")

    link(rel="icon", href="img/favicon.png", type="image/x-icon")
    link(rel="shortcut icon", href="img/favicon.png", type="image/x-icon")

    link(href="http://cdn.jsdelivr.net/bootstrap/3.3.4/css/bootstrap.min.css", rel="stylesheet", media="screen")
    link(href="css/style.css", rel="stylesheet")

    |<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    |<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    |<!--[if lt IE 9]>
    |  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    |  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    |<![endif]-->

    block style

  body
    .grand-container
      block header
      block content
    block footer

    script(src="//cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap@3.3.4,underscorejs@1.8.3")
    script(src="js/main.js")

    block script

