@font-face {
  font-family: 'CenturyGothicRegular';
  src: url('../font/CenturyGothicRegular.eot');
  src: url('../font/CenturyGothicRegular.eot?#iefix')format('embedded-opentype'),
  url('../font/CenturyGothicRegular.woff') format('woff'),
  url('../font/CenturyGothicRegular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Century Gothic Bold';
  src: url('../font/century_gothic_bold.eot');
  src: url('../font/century_gothic_bold.eot?#iefix') format('embedded-opentype'),
  url('../font/century_gothic_bold.svg#Century Gothic Bold') format('svg'),
  url('../font/century_gothic_bold.woff') format('woff'),
  url('../font/century_gothic_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
