header.main{
  height: 376px;
  border-bottom: 3px #683527 solid;
  max-width: 1920px;
  margin: 0 auto;
  .logo{
    width: 333px;
    height: 177px;
    background: url(../img/logo.png) top center no-repeat;
  }
  .slogan{
    color: #2b0000;
    font-weight: bold;
    margin-top: 43px;
  }
  .logo-diller{
    margin-top: 47px;
    width: 150px;
    height: 47px;
    background: url(../img/logo_diller.png) top center no-repeat;
  }
  .top-block{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    height: 205px;
    background: url(../img/bg_top_header_block.png) top center no-repeat;
  }
  .menu{
    margin-top: -80px;
    li{
      margin-right: 21px;
      &:last-child{
        margin-right: 0;
      }
    }
    a{
      background: black(.4);
      color: white(1);
      width: 145px;
      padding: 8px 10px 11px 10px;
      &:hover{
        background: black(.7);
      }
    }
  }
  #top-carousel{
    &:hover{
      .arrows-wrap span{
        display: inline-block;
      }
    }
    img{
      height: 373px;
      width: 100%;
    }
    .arrows-wrap{
      width: 980px;
      position: absolute;
      margin: 0 auto;
      top: 0;
      height: 376px;
      left: 50%;
      margin-left: -490px;
      a{
        background: none;
        span{
          top: 60%;
          display: none;
        }
      }
    }
  }
}

section.content{
  .sidebar{
    .menu{
      > ul{
        padding-top: 25px;
        padding-bottom: 17px;
        background: #5b3c30;
        &:before{
          content: '';
          background: linear-gradient(0deg, white(0) 0, white(.4) 100%);
          background-position: 50% 50%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          height: 47px;
        }
        &:after{
          content: '';
          background: url(../img/bg_bottom_menu_item.png) top right no-repeat;
          position: absolute;
          bottom: -30px;
          left: 0;
          right: 0;
          height: 30px;
        }
        > li.active{
          > a{
            text-decoration: underline;
          }
        }
        a{
          // background: #5B3C30;
          color: white(1);
          padding: 6px 16px;
        }
        ul{
          padding-left: 15px;
          padding-top: 0;
          padding-bottom: 0;
          > li.active{
            > a{
              text-decoration: underline;
            }
          }
          a{
            font-size: 13px;
          }
        }
      }
    }
  }
  .main{
    h1{
      font-size: 23px;
      color: #2b0000;
    }
    h2{
      font-size: 20px;
      color: #2b0000;
      margin-top: 25px;
      margin-bottom: 20px;
    }
    h3{
      font-size: 18px;
      color: #2b0000;
    }
    p{
      color: #2b0000;
      line-height: 20px;
    }
    p.text-important{
      background: #e0d6b0;
      padding: 9px 20px;
      margin-bottom: 20px;
    }
    p.text-black{
      font-family: $font-bold;
    }
    a{
      color: #2574a9;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
    ul{
      padding-left: 32px;
      li{
        list-style: none;
        position: relative;
        color: #2b0000;
        &:before{
          content: '';
          position: absolute;
          top: 10px;
          left: -20px;
          width: 10px;
          height: 1px;
          background: #2b0000;
        }
      }
    }
  }
}

footer.main{
  background: url(../img/bg_footer.jpg) top center no-repeat;
  height: 657px;
  margin-top: -450px;
  position: relative;
  z-index: 0;
  padding-top: 559px;
  .copyright{
    margin-right: 11px;
  }
  .footer-logo{
    margin-bottom: 15px;
    a{
      width: 140px;
      height: 37px;
      background: url(../img/logo_footer.png) top center no-repeat;
    }
  }
  .menu{
    li{
      margin-right: 8px;
      &:last-child{
        margin-right: 0;
      }
      a{
        color: white(1);
      }
    }
  }
  .art6-logo{
    margin-top: 51px;
    img{
      margin-top: -3px;
    }
  }
}
