// color variables
$gray: #616161;
$gray-black: #38393e;
$orange: #ff7c2d;
$gray-text: #9496a6;

// font variables
$font:  "CenturyGothicRegular", Geneva, AppleGothic, sans-serif;
$font-bold:  'Century Gothic Bold', Geneva, AppleGothic, sans-serif;
