%margin-center {
  margin-right: auto;
  margin-left: auto;
}

%table-center {
  display: table;
  margin-right: auto;
  margin-left: auto;
}

%block-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

%absolute-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

%transform-middle{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
